.course-registration {
  box-sizing: border-box;
  padding: 40px 83.6px 100px 83.6px;

  .search-box {
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;

    .icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      font-size: 1.5em;
    }

    .search {
      outline: none;
      border: none;
      height: 100%;
      border-radius: 4px;
      border: 1.85px solid #e9e9e9;

      // background-color: #e8ecf1;
      width: 420px;
      padding: 15px 40px;
      transition: all 0.2s ease-in-out;
      font-size: 1.1em;

      &:focus {
        border-color: #40a9ff;
      }
    }
  }

  table {
    margin: auto;
    width: 90%;
    table-layout: auto;

    .checked-background {
      background-color: #dff1ff;

      &:hover {
        background-color: #dff1ff;
      }
    }

    thead {
      background: #f1f1f1;

      th {
        padding: 16px 10px;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #fafafa;

          td {
            .icon {
              color: #303030;
            }
          }
        }

        td {
          border-bottom: 1px solid #f0f0f0;
        }

        label {
          cursor: pointer;
          display: block;
          padding: 16px 10px;
        }
      }
    }

    th,
    td {
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 1.1em;
    }

    .rows {
      padding: 16px 20px;
    }
  }

  .selected-table {
    width: 100%;
    margin: auto;
    margin-top: 100px;

    .title-bar {
      margin-bottom: 70px;
    }

    table {
      th,
      td {
        text-align: left;
        padding: 14px 20px;
      }
    }
  }

  .save-box {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;

    span {
      font-size: 1.5em;
      letter-spacing: 1px;
    }

    button {
      font-size: 1.3em;
      padding: 5px 20px;
      border-radius: 3px;
      background-color: #40a9ff;
      color: #ffffff;
      outline: none;
      border: none;
      cursor: pointer;
      margin-left: 20px;
    }
  }
}
