.course-registration {
  box-sizing: border-box;
  padding: 40px 83.6px 100px 83.6px;

  .course-table {
    min-width: 600px;
    width: 100%;
    height: auto;

    .table-header {
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: #0099fa;
      border-radius: 3px;
      grid-template-columns: 0.5fr 2.5fr 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 25px;
      padding: 16px 10px;
      font-weight: 600;
      font-size: 1.1em;
    }

    .table-rows {
      margin-top: 8px;

      .row {
        // margin-bottom: 5px;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        // box-shadow: 1px 1px 2px #cddcf0;
        border-bottom: 1px solid #f0f0f0;
        background: #ffffff;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 0.5fr 2.5fr 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        padding: 20px 10px;
        font-size: 1.1em;

        span {
          &:nth-child(1) {
            display: flex;
            justify-content: center;
          }
        }

        input {
          height: 15px;
          width: 15px;
          margin: auto;
        }
      }
    }
  }

  .selected-table {
    margin-top: 100px;

    .title-bar {
      margin-bottom: 70px;
    }

    .table {
      font-size: 1.1em;

      .table-header {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #0099fa;
        border-radius: 3px;
        grid-template-columns: 0.5fr 3fr 1.5fr 1.5fr;
        column-gap: 25px;
        padding: 16px 35px;
        font-weight: 500;
      }

      .table-rows {
        margin-top: 8px;

        .row {
          display: grid;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;
          border-radius: 3px;
          user-select: none;
          box-shadow: 1px 1px 2px #cddcf0;
          background: #ffffff;
          grid-template-columns: 0.5fr 3fr 1.5fr 1.5fr;
          column-gap: 25px;
          padding: 16px 35px;

          &:nth-last-child(1) {
            background: #d1ebff;
          }

          span {
            letter-spacing: 1.5px;

            &:nth-child(2) {
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
