.modal {
  .ant-modal-content {
    border-radius: 7px;
  }
  .ant-modal-footer {
    border: none;
    padding: 0 36px 30px 36px;
  }

  .ant-btn {
    border-radius: 3.5px;
    font-size: 1.1em;
    height: 36px;
    margin-left: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;

    span {
      font-weight: 500;
      font-size: 1.1em;
      margin-bottom: 5px;
    }

    input,
    select {
      outline: none;
      border: 1.2px solid #f0f0f0;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 1.1em;
      color: #525252;

      &:focus {
        border-color: #40a9ff;
      }
    }

    input[type="number"] {
      padding: 9px 0px 9px 10px;
    }

    select {
      option {
        font-size: 1.1em;
        color: #525252;
      }
    }

    .row-2 {
      display: flex;
      justify-content: space-between;
      //   align-items: center;

      .left,
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 47%;
      }
    }
  }
}
