.manage-courses {
  box-sizing: border-box;
  padding: 40px 83.6px 60px 83.6px;

  table {
    margin: auto;
    width: 90%;
    table-layout: auto;

    thead {
      background: #f1f1f1;
    }

    tbody {
      tr {
        cursor: pointer;

        &:hover {
          background-color: #fafafa;

          td {
            .icon {
              color: #303030;
            }
          }
        }

        td {
          border-bottom: 1px solid #f0f0f0;
        }
      }
    }

    th,
    td {
      padding: 16px 10px;
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 1.1em;

      &:nth-last-child(1) {
        width: 30px;

        .icon {
          font-size: 1.9em;
          color: transparent;
        }
      }
    }
  }
}

.modal-box {
  .ant-modal-content {
    border-radius: 7px;
  }
  .ant-modal-footer {
    border: none;
    padding: 0 36px 30px 36px;
  }

  .ant-btn {
    border-radius: 3.5px;
    font-size: 1.1em;
    height: 36px;
    margin-left: 20px;
  }

  table {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    table-layout: auto;

    thead {
      background: #f1f1f1;
    }

    tbody {
      tr {
        cursor: pointer;

        &:hover {
          background-color: #fafafa;

          td {
            .icon {
              color: #303030;
            }
          }
        }

        td {
          border-bottom: 1px solid #f0f0f0;
        }
      }
    }

    th,
    td {
      padding: 16px 10px;
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 1.1em;

    }
  }
}
