.title-bar {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    .symbol {
      height: 30px;
      width: 30px;
      color: #ffffff;
      padding: 16px;
      box-sizing: content-box;
      background-color: #4786ff;
      border-radius: 4px;
      box-shadow: 1px 9px 18px #7facff;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      
      margin-left: 30px;

      span {
        &:nth-child(1) {
          display: flex;
          align-items: center;

          span {
            font-size: 1.7em;
            font-weight: 600;
          }

          .visible {
            color: #cecdcd;
            font-weight: 500;
            margin-left: 50px;
            height: 100%;
            display: flex;
            align-items: center;

            .icon {
              font-size: 1.3em;
            }

            span {
              font-size: 0.9em;
              margin: 0;
              margin-left: 6px;
              color: #cecdcd;
            }
          }
        }

        &:nth-last-child(1) {
          font-size: 1.1em;
          font-weight: 500;
          color: #98a0a6;
        }
      }
    }
  }